
//@import "./normalize.css";

@import "./includes/_fonts.scss";
@import "./includes/_mixins.scss";




* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	line-height: 0.9;
}

html, body {
	width: 100%;
	height: 100%;
	background: #e7ecf2;
	font-family: "Myriad Bold";
	font-size: 11px;

}

a, a:active, a:visited, a:hover {
	text-decoration: none;
}

li {
	list-style-type: none;
}

.wrapper {
	width: 100%;
	height: 100%;
	background: #e7ecf2;
}



.container {
	max-width: 900px;
	height: 100%;
	margin: 0 auto;
	background: #d8e8f5;
	margin-top: 30px;
	@include flex(column, nowrap, flex-start, flex-start)

	.content_container {
		width: 100%;
		height: 100%;
		@include flex(row, nowrap, flex-start, flex-start)
	}

}
	

.footer {
	height: 50px;
	width: 100%;
	background: grey;
	position: relative;
	top: -50px;

	&:hover {
		cursor: pointer;
	}
}


	@import "./includes/header.scss";
	@import "./includes/left_menu_sidebar.scss";
	@import "./includes/members_list.scss";
	@import "./includes/chat_content.scss";
	@import "./includes/agenda.scss";
	@import "./includes/footer.scss";
	
	



