.agenda 
	.agenda_header_area
		.agenda_header
			| My Agenda
		.agenda_header_menu_icon
	.agenda_calendar
		.agenda_calendar_month
			.agenda_calendar_left_arrow
			.agenda_calendar_month_name
				| March 2016
			.agenda_calendar_right_arrow
		.agenda_calendar_days_table
			.thead
				.th SU
				.th MO
				.th TU
				.th WD
				.th TH
				.th FR
				.th SA
			.tbody
				.td
					.inner_td 28
				.td 
					.inner_td 29
				.td 
					.inner_td 1
				.td 
					.inner_td 2
				.td 
					.inner_td 3
				.td 
					.inner_td 4
				.td 
					.inner_td 5
				.td 
					.inner_td 6
				.td 
					.inner_td 7
				.td 
					.inner_td 8
				.td 
					.inner_td 9
				.td 
					.inner_td 10
				.td.selected_left
					.inner_td 11
				.td.selected
					.inner_td 12
				.td.selected
					.inner_td 13
				.td.selected
					.inner_td 14
				.td.selected
					.inner_td 15
				.td.selected
					.inner_td 16
				.td.selected
					.inner_td 17
				.td.selected
					.inner_td 18
				.td.selected
					.inner_td 19
				.td.selected
					.inner_td 20
				.td.selected
					.inner_td 21
				.td.selected_right
					.inner_td 22
				.td 
					.inner_td 23
				.td 
					.inner_td 24
				.td 
					.inner_td 25
				.td 
					.inner_td 26
				.td.one_selected
					.inner_td 27
				.td 
					.inner_td 28
				.td 
					.inner_td 29
				.td.one_selected
					.inner_td 30
				.td 
					.inner_td 31
				.td 
					.inner_td 1
				.td 
					.inner_td 2
		ul.agenda_list
			li
				.agenda_list_date
					| 8 March
				.agenda_list_brief
					| Meeting Toni persipolis website dijogia dansmlmdlm
			li
				.agenda_list_date
					| 9 March
				.agenda_list_brief
					| Meeting Toni persipolis website dijogia dansmlmdlm
			li
				.agenda_list_date
					| 10 March
				.agenda_list_brief
					| Meeting Toni persipolis website dijogia dansmlmdlm
			li
				.agenda_list_date
					| 12 March
				.agenda_list_brief
					| Meeting Toni persipolis website dijogia dansmlmdlc
			li
				.agenda_list_date
					| 21 March
				.agenda_list_brief
					| Meeting Toni persipolis website dijogia dansmlmdlm

	.agenda_button_area
		a(href="#").add_new_agenda
			| + ADD NEW AGENDA
	




