.chat_content
	.chat_content_header
		.chat_content_header_lastman
			.chat_content_header_lastman_name
				| Abu Abdullah Nugraha
			.chat_content_header_lastman_online
		ul.chat_content_header_menu
			li.chat_content_header_phone
			li.chat_content_header_clock
			li.chat_content_header_more
	.chat_content_messages
		.chat_content_message
			.chat_content_message_logo
			.chat_content_message_text
				|  Lorem ipsum dolor sit amet, adipisicing elit.
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum optio molestiae aliquam, minima suscipit reprehenderit at? Autem ut, 
		.chat_content_message
			.chat_content_message_logo
			.chat_content_message_text
				|  Lorem ipsum dolor.
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.s
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.s
		.chat_content_message.right
			.chat_content_message_logo
			.chat_content_message_text
				|   Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem placeat vero explicabo deleniti, voluptatum maiores tempora, quas provident quasi ut est eum dolores, ad repudiandae earum ab. Ad, doloremque. Dolor. ipsum dolor sit amet, consectetur adipisicing elit. Cum corporis aliquam voluptatem similique optio eveniet neque nostrum repellat placeat molestias, iure sequi. Error libero nemo aperiam, soluta, nisi corporis ipsa.s
	.footer
	form(name="message_add" method="post").chat_content_addnew
		input(type="text" placeholder="Type your message").chat_content_addnew_message
		.input_file
			input(type="file")
		.input_submit
			input(type="submit").chat_content_addnew_button




	