header.header
	.header__menu_icon
	.header__person_area
		.header__search
			.header__search_icon
		.header__me
			.header__me_logo
			.header__me_name_area
				.header__me_name
					| Rico Sapto Dimo
					.header__me_status
						.header__me_status_cur
							| availables
						.header__me_status_icon 
