.members_list
	.members_list__header
		a(href="#").members_list__header_chat 
			| Chat
		a(href="#").members_list__header_new
			| NEW
	ul.members_list__people
		li
			.members_list__people_avatar
				.members_list__people_mess_num 1
			.members_list__people_info
				.members_list__people_info_name
					| Fikri Ruslandi
				.members_list__people_info_last_message
					| Ko, Komusha eja project exta khkhkhkh
			.members_list__people_status
				.members_list__people_online
				.members_list__people_ago
					| 1min	
		li
			.members_list__people_avatar
				.members_list__people_mess_num 2
			.members_list__people_info
				.members_list__people_info_name
					| Fikri Ruslandi
				.members_list__people_info_last_message
					| Ko, Komusha eja project exta khkhkhkh
			.members_list__people_status
				.members_list__people_online
				.members_list__people_ago
					| 1min

		li
			.members_list__people_avatar
				.members_list__people_mess_num 3
			.members_list__people_info
				.members_list__people_info_name
					| Fikri Ruslandi
				.members_list__people_info_last_message
					| Ko, Komusha eja project exta khkhkhkh
			.members_list__people_status
				.members_list__people_online
				.members_list__people_ago
					| 1min