$icon: white;


$blue: #3598db;
$blueHard: #2e86c5;
$white: #ffffff;
$grey: #9dafbd;
$greyIcon: #d6e3ec;
$black: #4b587a;
$inactive: #e3e8eb;




@mixin flex($direct, $wrap, $justify, $align) {
	display: flex;
	flex-direction: $direct;
	flex-wrap: $wrap;
	justify-content: $justify;
	align-items: $align;

}


