doctype html
html(lang='ru-RU')
	head
		meta(charset='UTF-8')
		meta(http-equiv='X-UA-Compatible', content="IE=edge,chrome=1")
		meta(name='viewport' content='width=device-width')
		
		<!-- build:js js/bundle.js -->
		script(src="./js/modernizr-svg.js" type="text/javascript")
		
		<!-- endbuild -->
		

		<!-- build:css css/bundle.css -->
		link(href="./css/media_list.css" rel="stylesheet" type="text/css")
		link(href="./css/main.css" rel="stylesheet" type="text/css")
		<!-- endbuild -->
		link(href="./css/normalize.css" rel="stylesheet" type="text/css")
		


		
		title
			| We chat
body
	script(src="./js/svg-or-png.js" type="text/javascript")
	//include ./includes/icons.svg
	.wrapper
		.container
			include ./includes/header
			.content_container
				include ./includes/left_menu_sidebar
				include ./includes/members_list
				include ./includes/chat_content
				include ./includes/agenda
			include ./includes/footer
	//.footer
